
/* main.css */

/* Quitar fondo del header */
.stApp > header {
  background-color: transparent;
}

/* Fondo general sin animación */
.stApp {
  background-color: #082e6e;
  color: #fc8c1c;
  font-family: sans-serif;
}

/* Enlaces */
a {
  color: #f5eec6;
}

/* Sidebar */
section[data-testid="stSidebar"] {
  background-color: #082e6e !important;
  color: #fc8c1c !important;
}

/* Botones */
.stButton > button {
  background-color: #fc8c1c !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
}

/* Hover para botones */
.stButton > button:hover {
  background-color: #082e6e !important;
  color: white !important;
}

.stSelectbox div[data-baseweb="select"] > div:first-child {
  background-color: #fc8c1c;
  border-color: #2d408d;
  color: white !important;
}

/* Estilo personalizado para el contenedor con key="figura" */
.st-key-figura1 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 1rem;
  color: #fc8c1c;
}

.st-key-figura2 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  color: #fc8c1c;
  font-size: 1.5rem;
  text-align: center;
}

/* Cambia el texto del selectbox */
label[data-testid="stWidgetLabel"] p {
  color: #fc8c1c !important;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Fondo transparente para todos los contenedores de elementos */
div[data-testid="stElementContainer"] {
  background-color: #082e6e !important;  /* Fondo */
  /* border: 1px solid #fc8c1c !important;  Borde */
}

.lottie-container {
  background-color: #082e6e; /* tu color de fondo deseado */
  display: flex;
  justify-content: center;
}

/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  /* Hide Streamlit Branding */
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}