
/* main.css */

/* Quitar fondo del header */
.stApp > header {
  background-color: transparent;
}

/* Fondo general sin animación */
.stApp {
  background-color: #082e6e;
  color: #fc8c1c;
  font-family: sans-serif;
}

/* Enlaces */
a {
  color: #f7d61c;
}

p {
  margin: 0 0 3px 0;
}

/* Sidebar */
section[data-testid="stSidebar"] {
  background-color: #082e6e !important;
  color: #fc8c1c !important;
}

/* Eliminar espacio superior al inicio de la app */
.block-container {
  padding-top: 0rem !important;  /* o 0 si quieres eliminarlo por completo */
}

/* Botones */
.stButton > button {
  background-color: #fc8c1c !important;
  color: white !important;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
}

/* Hover para botones */
.stButton > button:hover {
  background-color: #194ca4 !important;
  color: white !important;
}

/* Gif Container */
.gif-container {
  background-color: #082e6e;
  padding: 1px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Selectbox */
.stSelectbox div[data-baseweb="select"] > div:first-child {
  background-color: #fc8c1c;
  border-color: #2d408d;
  color: white !important;
}

/* Cambia el texto del selectbox */
label[data-testid="stWidgetLabel"] p {
  color: #fc8c1c !important;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Estilo personalizado para el contenedor con key="figura" */

.st-key-figura0 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-figura1 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-figura2 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-figura3 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-figura4 {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-codo {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-clusters {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

.st-key-pages {
  background-color: #082e6e;
  border: 3px solid #fc8c1c;
  border-radius: 12px;
  padding: 0.5rem;
  color: #fc8c1c;
  text-align: center;
  margin: 0;
  box-shadow: none;     /* Quita sombra si no la deseas */
  overflow: auto;
}

/* Fondo transparente para todos los contenedores de elementos */
div[data-testid="stElementContainer"] {
  background-color: #082e6e !important;  /* Fondo */
  border: 0px solid #fc8c1c !important;  /* Borde */
}

/* Contenedor externo del input Search */
div[data-baseweb="base-input"] {
  background-color: #082e6e !important;  /* Azul */
  padding: 0px;
  border-radius: 8px;
  border: 3px solid #fc8c1c !important;  /* Borde naranja */
}

/* Campo input del Search*/
div[data-baseweb="base-input"] input {
  background-color: #082e6e !important;  /* Azul */
  color: #fc8c1c !important;             /* Texto naranja */
  border: none !important;
  outline: none !important;
  font-weight: bold;
}

/* Fondo naranja para st.expander */
[data-testid="stExpander"] {
  background-color: #2d408d !important;
  border: none !important;
  border-radius: 12px !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Para el contenedor interno del expander */
[data-testid="stExpander"] > details {
  background-color: #2d408d !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 12px !important;
}

/* Para el resumen (la parte clicable) del expander */
[data-testid="stExpander"] > details > summary {
  background-color: #2d408d !important;
  padding: 12px !important;
  margin: 0 !important;
  font-weight: bold !important;
  color: white !important;
  border-radius: 12px !important;
}

/* Para el contenido del expander */
[data-testid="stExpander"] > details > div {
  background-color: #082e6e !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Cambiar color cuando el mouse está sobre el expander */
[data-testid="stExpander"]:hover p {
  color: white !important;
}

/* Dataframe */

.stDataFrame {
  background-color: #082e6e !important;
  color: #fc8c1c !important;
  border-radius: 12px;
  border: 3px solid #fc8c1c !important;
  padding: 0rem;
  font-weight: bold;
}

/* Cambiar el fondo de las celdas */
[data-testid="data-grid-canvas"] table tbody tr td {
  background-color: #082e6e !important;  /* Azul claro */
}

/* Cambiar el fondo del encabezado */
[data-testid="data-grid-canvas"] table thead tr th {
  background-color: #4a8cff !important;  /* Azul más oscuro */
  color: white !important;  /* Texto blanco */
}

.lottie-container {
  background-color: transparent; /* Cambia este color según lo necesites */
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

/* Cambia el color de todos los títulos st.Page*/
.st-emotion-cache-1oeflpy.e19011e66,
.st-emotion-cache-1kudkox.e19011e66 {
    color: #fc8c1c !important;  /* Color naranja - cámbialo a tu preferencia */
}

/* Cambia el color al pasar el mouse en st.Page*/
.st-emotion-cache-7a8nvr.e19011e65:hover .st-emotion-cache-1oeflpy.e19011e66,
.st-emotion-cache-18pkpic.e19011e65:hover .st-emotion-cache-1kudkox.e19011e66 {
    color: #FFFFFF !important;  /* Color blanco al hacer hover */
}

/* Cambia el color del valor numérico del st.metric*/
.st-emotion-cache-1wivap2.ehvl34q1 {
  color: #FFFFFF !important;  /* Rojo - cambia este valor */
}

/* Cambia el color del texto en las pestañas INACTIVAS */
button[data-baseweb="tab"] > div[data-testid="stMarkdownContainer"] > p {
  color: #fc8c1c !important;  /* Naranja (cambia este valor) */
}

/* Cambia el color del texto en la pestaña ACTIVA */
button[aria-selected="true"] > div[data-testid="stMarkdownContainer"] > p {
  color: #FFFFFF !important;  /* Verde (cambia este valor) */
  font-weight: bold;
}

/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: #082e6e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
    background-color: #194ca4;
}
  
  
  /* Hide Streamlit Branding */
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}